.bg-primary-color {
  background-color: #f1690e !important;
}
.text-primary-color {
  color: #f1690e !important;
}
.text-primary-color-light {
  color: lighten($color: #f1690e, $amount: 15%) !important;
}
.text-secondary-color {
  color: #4aa2a5 !important;
}
.nav-link {
  padding: 0.5rem !important;
}
.nav-item {
  border-radius: 3px;
  transition: all 0.3s ease;
}
.inner {
  h1 {
    color: #f1690e;
  }
  p {
    font-weight: 400;
    color: #222;
  }
}
.hero {
  width: 100%;
  height: 100vh;
}
.border-left {
  border-left: #4aa2a5 2px solid !important;
  padding: 1rem;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1rem !important;
  }
}
